{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<style>
	@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
  margin: 0;
  padding: 0;
  background: lightgoldenrodyellow;
}
.paper {
  position: absolute;
  height: 550px;
  width: 450px;
  background: rgba(255,255,255,0.9);
  margin: -275px -225px;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 5px 0px #888;
}
.paper::before {
  content: '';
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}

.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.mappa {
      position: absolute;
      top: 60px;
      right: 5px;
      height: 250px;  /* The height  */
      width: 390px;  /* The width  */
      border: #000000;
    }

    .tabcontent {
      position: absolute;
      top: 30px;
      right: 5px;
      height: 500px;  /* The height  */
      width: 390px;  /* The width  */
      border: #000000;
    }



.titolo {
 text-align: right;
 margin-right: 0px;
 font-weight: bold;
 font-size: 120%;
 font-family: 'Indie Flower';
}

.indirizzo {
 position: relative;
 margin-top:18px;
 text-align: right;
 font-weight: normal;
 font-size: 80%;
 font-family: 'Georgia';
}

.orari {
  position: relative;
  margin-top:10px;
 text-align: right;
 font-weight: normal;
 font-size: 70%;
 font-family: 'Georgia';
}

.images {
  position: absolute;
  top: 330px;
  bottom: 10px;
  left: 55px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
}


.images_border {
  border: 2px solid #FAA;
  border-radius: 5px;
  padding: 0px;
}

.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: lightgoldenrodyellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
  top: 10%;
}

.rings-top {
  top: 10%;
}

.rings2-top {
  top: 11%;
}

.rings-middle {
  top: 50%;
}

.rings2-middle {
  top: 51%;
}

.rings-bottom {
  bottom: 9%;
}

.rings2-bottom {
  bottom: 10%;
}


.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}



.rings {
  position: absolute;
  left: -30px;
  height: 50px;
  width: 50px;
  height: 25px;
  border: 2px solid #000000;
  border-radius: 100% 100% 100% 100%;
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  transform: rotate(180deg);

}
</style>
{% endblock %}

{% block content %}
<div class="paper">

  <div class="lines">
     <div class="titolo" spellcheck="false" >
      
      <div class="tabcontent">
        {% block tabcontent %}
        {% endblock %}
      </div>
      <!--
       <div class="indirizzo" spellcheck="false" >
          {% block indirizzo %}
            Indirizzo di prova
        {% endblock %}
    </div>

    <div class="orari" contenteditable spellcheck="false">
      {% block orari %}
      {% endblock %}
    </div>
    </div>

    <div class="images">
     {% block images %}
      {% endblock %}
    </div>
-->

  </div>
  <div class="holes hole-top"></div>
  <div class="holes hole-middle"></div>
  <div class="holes hole-bottom"></div>

  <div class="rings rings-top"></div>
  <div class="rings rings2-top"></div>

  <div class="rings rings-middle"></div>
  <div class="rings rings2-middle"></div>

  <div class="rings rings-bottom"></div>
  <div class="rings rings2-bottom"></div>

</div>

{% endblock %}