{% extends "home.html" %}

{% block blog_content %}

<div class="book_content" style="background-color:rgba(255, 0, 0, 0); width:150%; height:600px; margin-left:-150px;">
    <iframe id="bookFrame" src="{{url_for('main.book2', zone_id=zone_id)}}" width="100%" height="100%" 
    onload="onFrameLoaded()"
    frameBorder="0"></iframe>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">

function onFrameLoaded()
{
    //alert("LIBRO CARICATO")
    $("#bookFrame").focus()
}

</script>
{% endblock %}
 

