{% extends "home.html" %}

{% block blog_content %}
<div style="background-color:transparent;overflow-x: hidden;" class="scrollablePost">

<div style="background-color:bisque">
<br>
    <p><em><span style="margin:10px; font-size:1.5em; font-family:Times New Roman,Times,serif;">E solo se ti fa piacere puoi offrirmi....&nbsp;</span></em></p>

<table border="0" cellpadding="0" cellspacing="0" style="width:500px">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td align="center">
				<img  class="imageBorder" alt="Macarons" height="-1" src="/uploads/macarons_2_EUR.jpg" width="215px" /></td>
				<td></td>
		</tr>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td  style="text-align:center"><span style="font-family:Times New Roman,Times,serif"><em>Un Macaron (2 </em>&euro;<em>)&nbsp;</em></span></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>     
			<td>&nbsp;</td>
			<td><img class="imageBorder" alt="" height="-1" src="/uploads/petit_dejeneur__5_EUR.jpg" width="215px" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="text-align:center"><em>&nbsp;une Petit Dejuner (5&nbsp;</em>&euro;<em>)</em></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td align="center"><img alt="" class="imageBorder" height="-1" src="/uploads/croque_monsieur__10_EUR.jpg" width="215px" /></td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td align="center" style="text-align:center"><em>Un Croque Monsieur (10 </em>&euro;<em>)</em></td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td align="center"><img class="imageBorder" alt="" height="-1" src="/uploads/cioccolata_calda_e_millefoglie_da_angelina__15_EUR.jpg" width="215px" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td align="center"  style="text-align:center"><em>&nbsp;Una Cioccolata calda e millefoglie da Angelina (15 &euro;)</em></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td align="center"><img class="imageBorder" alt="" height="-1" src="/uploads/fondue_heureux-comme-alexandre__20_EUR.jpg" width="215px" /></td>
			<td align="center" style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td align="center" style="text-align:center"><em>&nbsp;Una Fondue ai tre formaggi da Hereux comme Alexandre (20 &euro;)</em></td>
			<td align="center" style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
	</tbody>
</table>
<p>Paypal</p>
<form style="padding:0px;" id="paypalForm" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick" />
	<input type="hidden" name="hosted_button_id" value="PND6DJDEYC3VQ" />
	<input type="hidden" name="amount" value="5"/>
	<input type="hidden" name="currency_code" value="EUR"/>
  <label class="label1">
	<input type="image" class="imageBorder" 
		   style="display: block;"
		   width="100%" 
		   src="{{url_for('.static', filename='fotoblog/offerte/macarons_2_EUR.jpg')}}" border="0"
		   name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online." />
		   <span style="cursor: pointer; display:block;text-align: center; font-family:Times New Roman,Times,serif"><em>Un Macaron (2 </em>&euro;<em>)&nbsp;</em></span>
	</label>
			<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1" />
</form>
<form style="padding:0px;" id="paypalForm" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick" />
	<input type="hidden" name="hosted_button_id" value="PND6DJDEYC3VQ" />
	<input type="hidden" name="amount" value="5"/>
	<input type="hidden" name="currency_code" value="EUR"/>
  <label class="label2">
	<input type="image" class="imageBorder" 
		   src="{{url_for('.static', filename='fotoblog/offerte/petit_dejeneur__5_EUR.jpg')}}" border="0"
		   name="submit" alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online." />
		   <span style="cursor: pointer; 
		   display:block;
		   text-align: center; 
		   font-family:Times New Roman,Times,serif;"><em>&nbsp;une Petit Dejuner (5&nbsp;</em>&euro;<em>)</em></span>
	</label>
			<img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1" />
</form>
<p>End Paypal 2</p>


</br>
</div>
</div>
{% endblock %}
    
{% block styles %}
{{super()}}
    <style>

  .label1 {
	max-width:220px;
	margin-left: 20px;
	display:block;
	}

	.label2 {
	max-width:220px;
	margin-left: 280px;
	display:block;
	}

	

		label span {
		text-align:center;
		display:block;
		}
		label input {
			
		width:100%;
		}

        .imageBorder {
            border-radius: 30px;
            border:5px solid #FFFFFF;
        }

    </style>
{% endblock %}

<!-- 
https://gabrieleiacovone.net/come-integrare-il-form-di-elementor-con-un-bottone-paypal/
-->